svg {
  display: block;
  margin: auto;
}

#nav {
  background-color: #f0f0f0;
  width: 100%;
  height: 30px;
}

#dash {
  width: 100%;
  height: 100px;
  padding-left: 2em;
}

#postBox {
  width: 49%;
  max-height: 100vh;
  padding-left: 2em;
  padding-right: 2em;
  float: left;
  overflow: scroll;
}

#threadBox {
  max-height: 100vh;
  width:49%;
  float: left;
  overflow-y: scroll;
}

img {
  width: 100%;
}

div.posts {
  margin-bottom: 2em;
}

.thumbnails {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-right: 1em;
  float: left;
}

h1 {
  font-size: 250%;
}

p {
  font-family: 'Open Sans',sans-serif;
  margin-bottom: 3px;

}

p.title {
  font-weight: 900;
}

p.subreddit {
  font-weight: 200;
  font-size: 12px;
  margin-bottom: 4px;
}

p.score {
  font-weight: 300;
}

div.comment {
  margin-bottom: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

circle:hover {
  fill:orangered;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  max-width: 400px;
}

.node {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}
