/* TODO: use sass */

.desc {
  padding: 10px 15px;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

body {
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

div.contentHead h3 {
  font-family: 'Josefin Sans', sans-serif;  
}

#force {
  position: absolute;
  background-color: white;
  left: 50%;
  top: 10px;
  transform: translate(-50%);
  border: solid 1px #f0f0f0;
  width: 90%;
}

#force button {
  float: right;
}

#cover {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vw;
  width: 100vw;
  background-color: #333;
  opacity: .5;
}

svg {
  display: block;
  margin: auto;
}

.icon {
  width: 30px;
  position: relative;
  top: 0px;
}

#dash {
  width: 100%;
  height: 70px;
  padding-left: 2em;
  border-bottom: solid 1px #f0f0f0;
}

#subreddit {
  display: inline-block;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 50%;
  transform: translate(-50%);
}

.commentBody p {
  font-family: 'Varela Round', sans-serif;
}

div.author p {
  font-family: 'Varela Round', sans-serif;
  font-weight: 800;
  margin-left: 10px;
}

.thumbnails p {
  font-family: 'Varela Round', sans-serif;
}

#logo {
  position: absolute;
  float: left;
}

#logo h2 {
  margin-top: 8px;
  font-size: 40px;
  font-weight: 800;
  color: #596981;
  font-family: 'Permanent Marker', cursive;
}

#postBox {
  max-height: 100vh;
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
  float: left;
  overflow: scroll;
}

.forceButton {
  width: 60px;
  margin-left: 20px;
  border: solid 1px #f0f0f0;
  border-radius: 10px;
  cursor:pointer;
  cursor:hand;
}

.forceButton:hover {
  border: solid 1px black;
}

#threadBox {
  max-height: 100vh;
  float: left;
  overflow-y: scroll;
}

.split {
  width:49%;
}

#switches {
  float: right;
}

img {
  width: 100%;
}

div.posts {
  padding: 10px;
  border-radius: 10px;
}

div.posts:hover {
  background-color: #f0f0f0;
}

.thumbnails {
  font-family: 'Open Sans',sans-serif;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-right: 1em;
  float: left;
  line-height: 70px;
  cursor:pointer;
  cursor:hand;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.AlignerA {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 49%;
}

.imageButton {
  width: 20px;
}

.loading {
/*  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;*/
  width: 200px;
  height: 200px;
}

.text {
  background-color: orange;
  text-align: center;
  color: black;
}

.post-col-left {
  width: 100px;
  float: left;
}
.post-col-right {
  width: 80%;
  float: left;
}

div.list {
  float: left;
  width: 80px;
  margin-right: 10px;
}

.self {
  background-color: yellow;
  text-align: center;
  color: black;
}

#display {
  width: 80%;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.nsfw {
  background-color: red;
  text-align: center;
  color: black;
}

.default {
  background-color: lightblue;
  text-align: center;
  color: black;
}

h1 {
  font-size: 250%;
}

p {
  font-family: 'Open Sans',sans-serif;
  margin-bottom: 3px;
}

p.title {
  font-family: 'Varela Round', sans-serif; 
  font-weight: 800; 
  cursor:pointer;
  cursor:hand;
}

p.subreddit {
  font-weight: 200;
  font-size: 12px;
  margin-bottom: 4px;
  cursor:pointer;
  cursor:hand;
}

.glyphicon-triangle-top, .glyphicon-triangle-bottom {
  cursor:pointer;
  cursor:hand;
  color:#CCCCCC;
}

.score {
  font-weight: 800;
  color:#CCCCCC;
}

p.comments {
  font-weight: 800;
  color:#CCCCCC;
}

div.comment {
  border-radius: 0px, 10px, 10px, 0;
  padding: 0px, 20px, 20px, 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  border-left: solid 1px #f0f0f0;
}

.commentHead {
  background-color: #7EB57D;
  padding: 10px;
}

.commentBody {
  padding: 20px;
  padding-top: 30px;
}

#content {
  margin: 50px;
}

#content p {
  font-family: 'Varela Round', sans-serif;
}

.author {
  font-weight: 1000;
}

div.score, div.author {
  display: inline-block;
  padding-right: 10px;
}

div.switch {
  display: inline-block;
}

/* The switch - the box around the slider */
label.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
label.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 17px;
  left: 5px;
  right: 5px;
  bottom: -17px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

circle:hover {
  fill:orangered;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  max-width: 400px;
}

.node {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

#nodes {
  margin: 0 auto;
  width: 1000px;
  height: 1000px;
  overflow: scroll;
  overflow-y: scroll;
  /*float: left;*/
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

/* navigation bar style */

#favorite {
  background-color: #f0f0f0;
  width: 100%;
  height: 30px;
}

div.leftBlock {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 30px;
}

div.left {
  float: left;
  width: 80%;
  margin-bottom: 20px;
}
div.right {
  float: left;
  width: 19%;
}

h3 {
  margin-top: 0;
}

#favorite div.leftBlock:hover {
  background-color: #ccc;
  float: left;
  line-height: 30px;
}

div.rightBlock {
  float: right;
  padding-left: 12px;
  padding-right: 24px;
  line-height: 30px;
}